<div class="interactive blackboard-gallery">
  {{#each blackboards}}

      <div class="ui">
          <div class="gallery">
              <div class="zoom-view hidden">
                  <img class="blackboard" src="img/objects/blackboard/gallery/{{image}}_zoomed.jpg">
                  <i class="fa fa-times-circle-o close"></i>
              </div>
              <div class="background"></div>
              <div class="thumbnail">
                  <div class="inner">
                      <img class="blackboard" src="img/objects/blackboard/gallery/{{image}}.jpg">
                      <i class="fa fa-arrows-alt zoom"></i>
                  </div>
              </div>
              <div class="scroll-container">
                  <div class="name">{{author}}</div>
                  <div class="roles">{{role1}}</div>
                  <div class="descriptive-text">{{description}}</div>
              </div>
          </div>
      </div>  
  {{/each}}
        <!-- <div class="controls">
            <div class="background"></div>
            <i class="fa fa-2x fa-fw fa-chevron-left previous"></i>
            <div class="progress">
                <span class="index"></span> / <span class="total"></span>
            </div>
            <i class="fa fa-2x fa-fw fa-chevron-right next"></i>
        </div> -->
    
</div>
