<div class="item-title">
    <h3 class="name">{{{title}}}</h3>
</div>

<!--<div class="hint-container">-->
    <!--<smaller>({{beaconHint}} beacon)</smaller>-->
    <!--<h5>Location: {{location}}</h5>-->
<!--</div>-->

<div class="search-item">
    Can you find?<br>
    <img class="item-image" src="img/{{hint_image}}">
    {{#if map_image}}
        <a><div class="black-bar map-link">Show on Map</div></a>
        <div class="map-container">
            <img class="map-image" src="img/{{map_image}}">
        </div>
    {{/if}}
    {{#if useQR}}
        <a><div class="black-bar scan-qr">Scan QR Code</div></a>
        <div class="qr-feedback"></div>
    {{/if}}
    {{#if showskip}}
        <p class="skip-item">Skip</p>
    {{/if}}
</div>

<div class="found-item">
    {{#if useQR}}
        <p class="qr-found">You found it!</p>
    {{/if}}
    {{#if show_video}}
        <video id='video' class='found center-vertically' width="100%" height="auto" webkit-playsinline preload="auto" poster="img/{{image}}"controls>
            <source src="video/{{video}}" type="video/mp4">
        </video>
        <img style="display:none" src="img/{{image}}">
    {{else}}
        <img class="item-image" src="img/{{image}}">
        {{#if audio}}
            <div class="audio-controls"></div>
        {{/if}}
    {{/if}}

    <!--<h5>Location: {{location}}</h5>-->
    <p class="description">{{{description}}}</p>

    {{#if scan_for_video}}
        <a href="#scan/{{slug}}"><div class="button center">{{interactPrompt}}<i class="fa fa-chevron-right"></i></div></a>
    {{/if}}
    {{#if interactView}}
        <a href="#interact/{{slug}}"><div class="button center">{{interactPrompt}}</div></a>
    {{/if}}
</div>

<div class="question">
</div>