<div class="item-title">
    <h3 class="name">{{title}}</h3>
</div>

<div class="hint-container">
    <smaller>({{beaconHint}} beacon)</smaller>
    <h5>Location: {{location}}</h5>
</div>

<div class="search-item">
    <img class="item-image" src="img/{{hint_image}}">
    <a><div class="black-bar map-link">Show on Map</div></a>
    <div class="map-container">
        <img class="map-image" src="img/{{map_image}}">
    </div>
</div>

<div class="found-item">
    <img class="item-image" src="img/{{image}}">
    {{#if audio}}
        <div class="audio-controls"></div>
    {{/if}}
    <h5>Location: {{location}}</h5>
    <p class="description">{{description}}</p>
</div>

<div class="question">
</div>