<div class="overlay-information">
    <img src="{{infoImagePath}}" />
    
    <h1>{{title}}</h1>
    
    <div>{{{infoDescription}}}</div>
    
    <a href="{{infoStart}}">Start</a>
    <a href="{{infoReturn}}">Return to {{infoParentTitle}}</a>
</div>
