<div class="overlay-information">
    <img src="{{imagePath}}" />
    
    <h1>{{title}}</h1>
    
    <div>{{{description}}}</div>
    
    <a href="{{startRoute}}">Start</a>
    <a href="{{returnRoute}}">Return to {{itemName}}</a>
</div>
