<h1>{{trail.title}}</h1>
<div class="trails-list-container">
    <ul>
        {{#each items}}
            <a href="#found/{{slug}}"><li id="item-{{slug}}" class="topic-item">
                <img class="item-thumbnail" src="img/{{image}}"/>
                <div class="main-title title-smaller">{{{title}}}</div>
                <div class="subtitle">{{location}}</div>
            </li></a>
        {{/each}}
    </ul>
</div>