{{#each trails}}
    <div id="{{slug}}" class="trail-container">
        <h2 id="trail-title-{{slug}}" class="trail-title {{#if current}}current{{/if}}">{{title}} <span class="active-fa">{{#if current}}<i class="fa fa-chevron-down"></i>{{else}}<i class="fa fa-chevron-right"></i>{{/if}}</span></h2>
        <div class="trail-content">
            <div class="trail-floorplan" id="floorplan-{{slug}}">
                <img class="floorpan" src="img/{{map}}" />
                {{#each topics}}
                    <a href="#topic/{{slug}}"><div id="map-marker-{{slug}}" class="map-icon on-map">{{galleryIndex}}</div></a>
                {{/each}}
            </div>
            <ul class="objects-list">
              {{#each topics}}
                <a href="#topic/{{slug}}"><li id="{{slug}}" class="topic-list-item" style="background-image: url(img/{{sketch}})">
                    <div class="title">{{title}}</div>
                    <div id="index-marker-{{slug}}" class="map-icon">{{galleryIndex}}</div>
                    <div class="title-chevron"><i class="fa fa-chevron-right"></i></div>
                  </li></a>
              {{/each}}
            </ul>
        </div>
    </div>
{{/each}}
