<div class='white-edge'></div>
<div class='user-prompt title'>{{title}}</div>
<div class='user-prompt subtitle'>{{subtitle}}</div>
<!--<table>-->
    <!--<tr>-->
<!--<td><div class='floor-button no'>{{no_string}}</div></td>-->
<!--<td><div class='floor-button yes'>{{yes_string}}</div></td>-->
    <!--</tr>-->
<!--</table>-->
<div class="button-holder">
<span class='prompt-button no'>{{no_string}}</span>
<span class='prompt-button yes'>{{yes_string}}</span>
</div>